[submodule "oisp-frontend"]
	path = oisp-frontend
	url = https://github.com/Open-IoT-Service-Platform/oisp-frontend.git
[submodule "oisp-backend"]
	path = oisp-backend
	url = https://github.com/Open-IoT-Service-Platform/oisp-backend.git
[submodule "oisp-websocket-server"]
	path = oisp-websocket-server
	url = https://github.com/Open-IoT-Service-Platform/oisp-websocket-server.git
[submodule "beam-rule-engine"]
	path = beam-rule-engine
	url = ./beam-rule-engine
